body {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 40px auto;
  padding: 0 20px;
}

h1 {
  text-align: center;
}

ul {
  list-style: disc;
  padding: 2;
}

li {
  margin: 4px 0;
}

button {
  font-size: inherit;
  color: black;
  border-radius: 8px;
  padding: 3px 8px;
}
span#reset {
  display: inline-block;
  margin: 8px 0px;
  color: grey;
  border-radius: 8px;
  padding: 3px 8px;
  background-color: whitesmoke;
  cursor: none;
}

a {
  text-decoration: none;
  color: #0066cc;
  font-size: 18px;
}

a:hover {
  text-decoration: underline;
}
