body {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 40px auto;
  padding: 0 20px;
}

h1 {
  text-align: center;
}

ul {
  list-style: disc;
  padding: 2;
}

li {
  margin: 4px 0;
}

button {
  font-size: inherit;
  color: black;
  border-radius: 8px;
  padding: 3px 8px;
}
span#reset {
  display: inline-block;
  margin: 8px 0px;
  color: grey;
  border-radius: 8px;
  padding: 3px 8px;
  background-color: whitesmoke;
  cursor: none;
}

a {
  text-decoration: none;
  color: #0066cc;
  font-size: 18px;
}

a:hover {
  text-decoration: underline;
}

#taskList {
  display: flex;
  align-items: center;
  gap: 5px;
}

#taskList button {
  border-radius: 8px;
  border: none;
}

#taskList #tareas {
  height: 18px;
  border-radius: 8px;
}

#taskList #addTask {
  color: rgb(94, 136, 94);
}
#taskList #removeTasks {
  color: rgb(124, 0, 0);
}

ul li {
  display: flex;
  gap: 10px;
  align-items: center;
}

ul li input[type="checkbox"] {
  accent-color: rgb(94, 136, 94);
}

ul li button {
  border: none;
  color: rgb(124, 0, 0);
  border-radius: 50%;
  font-size: 0.8rem;
}
